<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jobbit.appnamn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".JobSearch"
            android:label="@string/title_activity_job_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartScreen"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdView"
            android:label="@string/title_activity_ad_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>